{% extends 'base.html' %}
{% block content %}

<form method="get" style="margin-bottom: 20px;">
    <input type="text" name="q" placeholder="Search clinet info" value="{{ query }}" style="width: 370px; padding: 6px;">
    <button type="submit">🔍 Search</button>
</form>

<h2>Client List</h2>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Company</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for client in clients %}
        <tr>
            <td>{{ client.name }}</td>
            <td>{{ client.company }}</td>
            <td>{{ client.email }}</td>
            <td>{{ client.phone }}</td>
            <td>{{ client.address }}</td>
            <td>
                <a href="{% url 'edit_client' client.id %}">Edit</a><br>
                <a href="{% url 'client_projects' client.id %}">View Projects</a>
            </td>
        </tr>
        {% empty %}
        <tr><td colspan="5" style="text-align:center;">No clients found.</td></tr>
        {% endfor %}
    </tbody>
</table>
{% if clients.has_other_pages %}
    <div style="margin-top: 20px;">
        {% if clients.has_previous %}
            <a href="?page={{ clients.previous_page_number }}&q={{ query }}">← Previous</a>
        {% endif %}

        <span style="margin: 0 10px;">Page {{ clients.number }} of {{ clients.paginator.num_pages }}</span>

        {% if clients.has_next %}
            <a href="?page={{ clients.next_page_number }}&q={{ query }}">Next →</a>
        {% endif %}
    </div>
{% endif %}
{% endblock %}
