{% extends 'base.html' %}
{% block content %}

<h2>Invoices for {{ project.name }}</h2>

{% if invoices %}
    <table>
        <thead>
            <tr>
                <th>Invoice ID</th>
                <th>Status</th>
                <th>Total Amount</th>
                <th>Invoice Date</th>
                <th>Due Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for invoice in invoices %}
            <tr>
                <td>{{ invoice.id }}</td>
                <td>{{ invoice.status }}</td>
                <td>${{ invoice.total_amount }}</td>
                <td>{{ invoice.created_at|date:"m-d-Y" }}</td>
                <td>{{ invoice.due_date|date:"m-d-Y" }}</td>
                <td><a href="{% url 'invoice_detail' invoice.id %}"> View</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
        {% if invoices.has_other_pages %}
            <div style="margin-top: 20px;">
                {% if invoices.has_previous %}
                    <a href="?page={{ invoices.previous_page_number }}">← Previous</a>
                {% endif %}

                <span style="margin: 0 10px;">Page {{ invoices.number }} of {{ invoices.paginator.num_pages }}</span>

                {% if invoices.has_next %}
                    <a href="?page={{ invoices.next_page_number }}">Next →</a>
                {% endif %}
                
            </div>
        {% endif %}
    {% else %}
    <p>No invoices found for this project.</p>
{% endif %}

<br>
<div style="display: flex; justify-content: space-between; align-items: center;">
    <a href="{% url 'create_invoice' project.id %}" style="background-color: #3366ff; color: white; padding: 8px 14px; border-radius: 6px; text-decoration: none;">
        ➕ Create Invoice
    </a>
</div>

{% endblock %}
